
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    display: flex;
    justify-content: center;
    align-items: center;
  
}


main{
    height: 500px;
    width: 500px;
    border: solid rgb(0, 187, 255) 4px;
    position: relative;
    z-index: 2;
}
   
div{
    position: absolute;
}

.w{
    height: 400px;
    width: 400px;
    background-color: chartreuse;
    z-index: 3;

}

.d{

    height: 300px;
    width: 300px;
    background-color: rgb(4, 0, 255);
    z-index: 4;

}

.g{
    height: 200px;
    width: 200px;
    background-color: rgb(230, 0, 255);
    z-index: 5;
}

